
@media (min-width: 1400px) {
    .sidebar_services.mar_lg {
        margin-bottom: 0;
    }

    .wsus__terms_condition,
    .wsus__events,
    .wsus__pricing {
        margin-bottom: -5px;
    }

    .wsus__prtfolio_details, 
    .wsus__wishlist {
        margin-bottom: -10px;
    }

    .wsus__prtfolio_page {
        margin-bottom: -8px;
    }
}


@media (min-width: 1200px) and (max-width: 1399.99px) {
    /* home page start */
    .wsus__banner_text h1 {
        font-size: 55px;
        margin: 35px 0px 40px 0px;
    }

    .wsus__single_counter h3 {
        font-size: 40px;
    }

    .wsus__single_counter h3 span,
    .wsus__single_counter h5 {
        font-size: 18px;
    }

    .wsus__why_choose_icon {
        width: 170px;
    }

    .wsus__single_portfolio, .gallery_item {
        height: 190px;
    }

    .wsus__success_text {
        width: 285px;
    }

    .wsus__success_img {
        height: 410px;
        padding: 0;
    }

    .wsus__single_team_img {
        height: 250px;
    }

    .wsu__subscribe_area {
        top: -210px;
    }

    .footer_img a {
        height: 65px;
    }
    /* home page end */


    /* 404 start */
    .wsus__404_text h1 {
        font-size: 100px;
    }

    .wsus__404_text {
        width: 100%;
    }
    /* 404 end */

    
    /* about start */
    .wsus__testimonial_single::after {
        width: 269px;
    }
    /* about end */


    /* blog details start */
    .wsus__blog_comment_text {
        width: 88%;
    }

    .wsus__comment_replay .wsus__blog_comment_text {
        width: 86%;
    }

    .recent_blogs a {
        width: 68%;
    }

    .wsus__single_blog_img {
        height: 210px;
    }
    /* blog details end */
    

    /* career details start */
    .wsus__single_career h2 {
        font-size: 25px;
    }
    /* career details end */


    .wsus__pay_details p span {
        width: 35%;
    }

    .wsus__coming_soon_text {
        width: 50%;
    }


    /* donation start */
    .wsus__donation_img {
        height: 400px;
    }

    .sidebar_services.mar_lg {
        margin-bottom: 0;
    }
    /* donation end */
    

    .wsus__event_details .gallery_item {
        height: 130px;
    }

    .wsus__single_events_img {
        height: 250px;
    }

    .wsus__prtfolio_details {
        margin-bottom: -10px;
    }

    .wsus__prtfolio_page {
        margin-bottom: -8px;
    }

    .wsus__login {
        margin-bottom: -3px;
    }

    .wsus__terms_condition,
    .wsus__pricing,
    .wsus__events,
    .wsus__team_details,
    .wsus__wishlist {
        margin-bottom: -5px;
    }

    /* shop details start */
    .wsus__pro_description {
        margin-top: 100px !important;
    }

    .wsus__shop_text a {
        font-size: 14px;
    }

    .wsus__shop_img {
        height: 250px;
    }
    /* shop details end */

    .wsus__cart_item table .total p .common_btn {
        padding: 15px 20px;
    }

    .sidebar_services .gallery_item {
        height: 80px;
    }
}


@media (min-width: 992px) and (max-width: 1199.99px) {
    
    /* home page start */
    .main_menu .top_logo {
        width: 175px;
    }

    .main_menu .nav-item .nav-link {
        font-size: 14px;
        margin: 0px 10px;
        line-height: 80px;
    }

    .wsus__banner_text h1 {
        font-size: 50px;
        margin: 30px 0px 35px 0px;
    }

    .wsus__banner_icon {
        margin-top: 40px !important;
    }

    .wsus__single_counter h3 {
        font-size: 35px;
    }

    .wsus__single_counter h3 span,
    .wsus__single_counter h5 {
        font-size: 16px;
    }

    .wsus__work_text {
        padding-left: 0;
    }

    .wsus__single_portfolio, .gallery_item {
        height: 200px;
    }

    .wsus__success_text {
        width: 80%;
    }

    .wsus__success_img {
        padding: 0px 10px;
    }
    /* home page end */


    /* 404 start */
    .wsus__404_text h1 {
        font-size: 100px;
    }

    .wsus__404_text {
        width: 100%;
    }
    /* 404 end */
    

    /* about start */
    .wsus__about_video_overlay {
        height: 350px;
    }

    .wsus__testimonial_single::after {
        width: 319px;
    }

    .wsus__testimonial_single::before {
        top: -360px;
    }
    /* about end */


    /* appointment start */
    .wsus__login_area::after {
        top: -20px;
        right: -20px;
    }
    /* appointment end */


    /* blog details start */
    .wsus__blog_comment_text {
        width: 86%;
    }

    .wsus__comment_replay .wsus__blog_comment_text {
        width: 84%;
    }

    .recent_blogs a {
        width: 64%;
    }
    /* blog details end */


    /* career details start */
    .wsus__single_career h2 {
        font-size: 25px;
    }
    /* career details end */


   /* cart view start */
   .wsus__cart_item table .images {
        min-width: 100px;
    }

    .wsus__cart_item table .details {
        min-width: 250px;
    }

    .wsus__cart_item table .quentity {
        min-width: 190px;
    }

    .wsus__cart_item table .price, 
    .wsus__cart_item table .total {
        min-width: 140px;
    }

    .wsus__cart_item table .total p .common_btn {
        padding: 10px 14px;
        font-size: 13px;
    }

    .wsus__cart_item table .delete {
        min-width: 110px;
    }
    /* cart view end */


    .wsus__pay_details p span {
        width: 40%;
    }

  
    /* comming soon start */
    .wsus__coming_soon_text {
        width: 60%;
    }
    /* comming soon end */


    .wsus__contact_adress {
        margin-left: -105px;
    }

    .wsus__breadcrumb h1 {
        font-size: 45px;
    }


    /* Donation start */
    .wsus__donation_img {
        height: 300px;
    }

    .wsus__donation_text h2 {
        font-size: 30px;
    }

    .wsus__donation_small_text h4 {
        font-size: 25px;
    }

    .wsus__donation_small_img {
        height: 300px;
    }

    .sidebar_services.mar_lg {
        margin-bottom: 0;
    }

    .wsus__subs_text h2 {
        font-size: 30px;
    }
    /* Donation end */


    .wsus__event_details .gallery_item {
        height: 150px;
    }

    .wsus__events {
        margin-bottom: -5px;
    }

    .wsus__photo_gallery {
        margin-bottom: -5px;
    }

    .wsus__prtfolio_details_img {
        height: 400px;
    }

    .portfolio_sidebar ul li a {
        width: 30px;
        height: 30px;
        line-height: 33px;
        font-size: 14px;
    }

    .wsus__prtfolio_details {
        margin-bottom: -10px;
    }

    .wsus__prtfolio_page {
        margin-bottom: -8px;
    }

    .wsus__terms_condition,
    .wsus__pricing {
        margin-bottom: -5px;
    }

    .wsus__login {
        margin-bottom: -3px;
    }

    .wsus__services_det_img {
        height: 300px;
    }

    .wsus__video_gallery {
        margin-bottom: -5px;
    }

    .wsus__wishlist {
        margin-bottom: -5px;
    }


    /* shop details start */
    .wsus__product_details_area h3 {
        font-size: 30px;
    }

    .wsus__pro_description {
        margin-top: 100px !important;
    }
    /* shop details end */


    /* team details start */
    .wsus__team_details .wsus__contact_adress {
        margin-left: 0;
    }

    .wsus__contact_area {
        padding: 25px;
    }

    .wsus__team_details {
        margin-bottom: -5px;
    }
    /* team details end */
}


@media (min-width: 768px) and (max-width: 991.99px) {
    /* home page start */
    .main_menu .top_logo {
        width: 190px;
        padding: 3px 0px 15px 0px;
    }

    .navbar-toggler {
        border: 2px solid var(--primaryColor);
        color: var(--primaryColor);
        width: 45px;
        height: 40px;
    }

    .navbar-toggler:focus {
        box-shadow: none;
    }

    .main_menu #navbarNav {
        background: #fff;
        border-top: 1px solid var(--primaryColor);
        margin-top: -3px;
        padding: 15px 0px 35px 0px;
        border-bottom: 1px solid var(--primaryColor);
        z-index: 9;
    }

    .main_menu .nav-item .nav-link {
        margin: 0;
        line-height: 50px;
        text-align: center;
    }

    .main_menu .menu_right {
        justify-content: center;
        margin-top: 15px;
    }

    .wsus__search_form form {
        width: 95%;
    }

    .wsus__search_form form h3 {
        font-size: 30px;
    }

    .wsus__droapdown {
        max-height: 225px;
        left: 50%;
        transform: translateX(-50%);
    }

    .wsus__mini_cart .wsus__cart_text .title {
        font-size: 14px;
    }

    .wsus__banner_text h1 {
        font-size: 35px;
        margin: 40px 0px 40px 0px;
    }

    .wsus__banner_img {
        margin-top: 38px;
    }

    .wsus__banner_img::after {
        top: -10px;
        left: -10px;
    }

    .wsus__banner_img::before {
        bottom: -10px;
        right: -10px;
    }

    .wsus__banner {
        padding: 97px 0px 97px 0px;
    }

    .wsus__about_img {
        margin-bottom: 5px;
    }

    .wsus__about_img::after {
        top: -10px;
        left: -10px;
    }

    .wsus__about_text p {
        margin-bottom: 0;
    }

    .wsus__single_counter {
        margin-top: 35px;
    }

    .wsus__single_counter h3 {
        font-size: 40px;
    }

    .wsus__why_choose_text h3 {
        font-size: 20px;
    }

    .wsus__about_text {
        padding-left: 0;
    }

    .wsus__choose_detail_text {
        margin-top: 30px;
    }

    .wsus__work_tabs .nav button {
        padding: 7px 14px;
        margin: 3px 3px;
    }

    .wsus__work_process #v-pills-tab {
        justify-content: center;
    }

    .wsus__work_text {
        padding-left: 0;
        margin-top: 25px;
    }

    .wsus__single_portfolio, .gallery_item {
        height: 220px;
    }

    .wsus__success_text_area.text_right .wsus__success_icon {
        width: 100%;
    }

    .wsus__success_icon span {
        margin: 0 auto;
    }

    .wsus__success_text {
        width: 100%;
        text-align: center !important;
    }

    .wsus__success_text h4 {
        margin-top: 10px;
    }

    .wsus__success_icon {
        width: 100%;
    }

    .wsus__success_img {
        padding: 0;
        margin-bottom: 35px;
    }

    .wsus__subs_text h2 {
        font-size: 25px;
    }

    .subs_form button {
        padding: 13.5px 13px;
        font-size: 14px;
    }

    .subs_form input {
        padding: 15px 95px 15px 15px;
    }

    .wsu__subscribe_area {
        top: -200px;
    }

    .wsus__footer_content {
        margin-bottom: 48px;
    }

    .wsus__footer_content h3 {
        margin-bottom: 15px;
    }

    .footer_img a {
        height: 120px;
    }

    .wsus__copyright.mt_95.xs_mt_15 {
        margin-top: 40px !important;
    }

    .wsus__blog.md_mar {
        margin-bottom: -11px;
    }
    /* home page end */


    /* 404 start */
    .wsus__404_text h1 {
        font-size: 100px;
    }

    .wsus__404_text {
        width: 100%;
    }
    /* 404 end */


    /* about page start */
    .wsus__about_video_overlay {
        height: 300px;
    }

    .wsus__testimonial_single::after {
        width: 259px;
    }

    .wsus__testimonial {
        margin-bottom: -15px;
    }
    /* about page end */


    /* appintment start */
    .wsus__login_area::after {
        top: -20px;
        right: -20px;
    }

    .login_form {
        padding: 20px !important;
    }

    .login_form h3 {
        font-size: 25px;
        margin-bottom: 20px;
    }

    .wsus__breadcrumb h1 {
        font-size: 40px;
    }

    .wsus__appointment {
        margin-bottom: -13px;
    }
    /* appintment end */
    


    /* blog details start */
    .wsus__blog_det_img {
        height: 350px;
    }

    .wsus__blog_det_img .date span {
        font-size: 20px;
    }

    .wsus__blog_det_text h2 {
        font-size: 25px;
    }

    .wsus__blog_comment_text {
        width: 87%;
    }

    .wsus__comment_replay .wsus__blog_comment_text {
        width: 87%;
    }

    .wsus__comment_replay {
        padding-left: 30px;
    }

    .wsus__single_comment_img {
        margin-bottom: 10px;
    }

    .wsus__blog_comment h3 {
        font-size: 20px;
    }

    .wsus__blog_comment_replay h3 {
        font-size: 20px;
    }

    .wsus__blog_comment_replay {
        margin-bottom: 50px;
    }

    .recent_blogs a {
        width: 67%;
    }

    .sidebar_services.md_mb_0 {
        margin-bottom: 0;
    }

    .wsus__blog_details {
        margin-bottom: -15px;
    }

    .wsus__single_blog_img {
        height: 210px;
    }
    /* blog details end */


    /* career details start */
    .wsus__career_details {
        margin-bottom: -10px;
    }

    .wsus__career {
        margin-bottom: -12px;
    }
    /* career details end */
  

   /* cart view start */
   .wsus__cart_item table .images {
        min-width: 100px;
    }

    .wsus__cart_item table .details {
        min-width: 250px;
    }

    .wsus__cart_item table .quentity {
        min-width: 190px;
    }

    .wsus__cart_item table .price, 
    .wsus__cart_item table .total {
        min-width: 140px;
    }

    .wsus__cart_item table .total p .common_btn {
        padding: 10px 14px;
        font-size: 13px;
    }

    .wsus__cart_item table .delete {
        min-width: 110px;
    }

    .wsus__cart_view {
        margin-bottom: -10px;
    }
    /* cart view end */


    /* checkout start */
    .wsus__pay_method #pills-tab li {
        width: 33.33%;
    }
    
    .wsus__pay_address {
        margin-bottom: 25px;
    }

    .wsus__checkout {
        margin-bottom: -10px;
    }
    /* checkout end */

    /* comming soon start */
    .wsus__coming_soon_text {
        width: 75%;
    }
    /* comming soon end */


    /* contact start */
    .wsus__contact_area {
        padding: 0;
    }

    .wsus__contact_adress {
        margin-left: 0;
    }

    .wsus__contact_adress ul {
        position: static;
    }

    .wsus__contact_message {
        padding: 30px;
    }

    .con_map {
        height: 350px;
    }
    /* contact end */
    

    /* donation start */
    .wsus__donation_img {
        height: 250px;
    }    

    .wsus__donation_text h2 {
        font-size: 30px;
    }

    .wsus__donation_text {
        padding: 20px;
    }

    .wsus__donate_progress .progress_bar {
        width: 70%;
    }

    .wsus__donation_small_text h4 {
        font-size: 25px;
    }

    .wsus__donation_small_img {
        height: 300px;
    }

    .wsus__donation_area {
        margin-bottom: 20px;
    }

    .wsus__donation {
        margin-bottom: -35px;
    }
    /* donation end */


    /* event details start */
    .event_det_slider {
        margin-bottom: 22px;
    }

    .wsus__event_details {
        margin-bottom: -10px;
    }

    .wsus__events {
        margin-bottom: -15px;
    }

    .wsus__single_events_img {
        height: 250px;
    }
    /* event details end */


    .wsus__faq_text {
        margin-bottom: -10px;
    }

    .wsus__photo_gallery {
        margin-bottom: -15px;
    }


    /* portfolio details start */
    .wsus__prtfolio_details_img {
        height: 350px;
    }

    .wsus__prtfolio_details,
    .wsus__prtfolio_page  {
        margin-bottom: -18px;
    }
    /* portfolio details end */


    .wsus__terms_condition,
    .wsus__pricing {
        margin-bottom: -15px;
    }

    .wsus__login {
        margin-bottom: -10px;
    }

    .wsus__services_det_img {
        height: 350px;
    }

    .wsus__services_details,
    .wsus__services {
        margin-bottom: -10px;
    }

    .wsus__service_det_area {
        margin-bottom: 20px;
    }

    .wsus__video_gallery {
        margin-bottom: -13px;
    }

    .wsus__wishlist {
        margin-bottom: -15px;
    }


    /* shop details start */
    .wsus__product_details_area h3 {
        font-size: 25px;
    }

    .wsus__product_details_area h4 {
        font-size: 25px;
    }

    .wsus__pro_share span {
        font-size: 16px;
        margin-right: 10px;
    }

    .wsus__pro_share ul li a {
        margin: 0px 5px 0px 0px;
    }

    .wsus__product_details_area {
        margin-bottom: 5px;
    }

    .wsus__shop_details {
        margin-bottom: -10px;
    }

    .wsus__submit_review {
        margin-top: 25px;
    }

    .wsus__shop_sidebar {
        margin-bottom: 25px;
        display: none;
    }

    .wsus__shop {
        margin-bottom: -10px;
    }
    /* shop details end */


    /* team details astart */
    .wsus__team_details_top {
        padding: 0;
        background: none;
        border: 1px solid #6ea2c229;
    }

    .wsus__team_det_text_center {
        position: static;
        transform: translateY(0);
    }

    .wsus__team_details_text h4 {
        font-size: 25px;
        margin-top: 15px;
    }

    .wsus__team_details_text {
        height: auto;
    }

    .wsus__team_about h5 {
        font-size: 20px;
    }

    .wsus__team_details .wsus__contact_adress{
        height: 350px;
    }

    .wsus__team_about h5 {
        font-size: 20px;
        margin-top: 10px;
    }

    .wsus__team_details {
        margin-bottom: -15px;
    }

    .wsus__team_page {
        margin-bottom: -10px;
    }
    /* team details aend */

}


@media (min-width: 576px) and (max-width: 767.99px) {
    
    /* home page start */
    .main_menu .top_logo {
        width: 165px;
        padding: 7px 0px 15px 0px;
    }

    .navbar-toggler {
        border: 2px solid var(--primaryColor);
        color: var(--primaryColor);
        width: 45px;
        height: 40px;
    }

    .navbar-toggler:focus {
        box-shadow: none;
    }

    .main_menu #navbarNav {
        background: #fff;
        border-top: 1px solid var(--primaryColor);
        margin-top: 1px;
        padding: 15px 0px 35px 0px;
        border-bottom: 1px solid var(--primaryColor);
        z-index: 9;
    }

    .main_menu .nav-item .nav-link {
        margin: 0;
        line-height: 50px;
        text-align: center;
    }

    .main_menu .menu_right {
        justify-content: center;
        margin-top: 15px;
    }

    .wsus__search_form form {
        width: 95%;
    }

    .wsus__search_form form h3 {
        font-size: 30px;
    }

    .wsus__droapdown {
        max-height: 225px;
        left: 50%;
        transform: translateX(-50%);
    }

    .wsus__mini_cart .wsus__cart_text .title {
        font-size: 14px;
    }

    .wsus__banner_text h1 {
        font-size: 30px;
        margin: 25px 0px 25px 0px;
    }

    .wsus__banner_img {
        height: 400px;
        margin-top: 38px;
    }

    .wsus__banner_img::after {
        top: -10px;
        left: -10px;
    }

    .wsus__banner_img::before {
        bottom: -10px;
        right: -10px;
    }

    .wsus__banner {
        padding: 75px 0px;
    }

    .wsus__about_img {
        height: 400px;
        margin-bottom: 5px;
    }

    .wsus__about_img::after {
        top: -10px;
        left: -10px;
    }

    .heading {
        font-size: 25px;
    }

    .wsus__about_text p {
        margin-bottom: 0;
    }

    .wsus__single_counter {
        margin-top: 35px;
    }

    .wsus__single_counter h3 {
        font-size: 40px;
    }

    .wsus__single_team_img {
        height: 250px;
    }

    .wsus__why_choose_text h3 {
        font-size: 20px;
    }

    .wsus__about_text {
        padding-left: 0;
    }

    .wsus__choose_detail_text {
        margin-top: 30px;
    }

    .wsus__work_tabs .nav button {
        padding: 7px 14px;
        margin: 3px 3px;
    }

    .wsus__work_process #v-pills-tab {
        justify-content: center;
    }

    .wsus__work_img {
        height: 250px;
        padding: 10px;
    }

    .wsus__work_text {
        padding-left: 0;
        margin-top: 25px;
    }

    .wsus__success_text_area.text_right .wsus__success_icon {
        width: 100%;
    }

    .wsus__success_icon span {
        margin: 0 auto;
    }

    .wsus__success_text {
        width: 100%;
        text-align: center !important;
    }

    .wsus__success_text h4 {
        margin-top: 10px;
    }

    .wsus__success_icon {
        width: 100%;
    }

    .wsus__success_img {
        height: 350px;
        padding: 0;
        margin-bottom: 35px;
    }

    .wsus__subs_text h2 {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .subs_form button {
        padding: 10px 13px;
        font-size: 14px;
    }

    .subs_form input {
        padding: 12px 95px 12px 12px;
    }

    .wsu__subscribe_area {
        padding: 15px 20px 20px 20px;
        border-radius: 10px;
        top: -197px;
    }

    .wsus__footer_content {
        margin-bottom: 48px;
    }

    .wsus__footer_content h3 {
        margin-bottom: 15px;
    }

    .footer_img a {
        height: 120px;
    }
    /* home page end */
 

    /* 404 start */
    .wsus__404_text h1 {
        font-size: 100px;
    }

    .wsus__404_text {
        width: 100%;
    }
    /* 404 end */


    /* about start */
    .wsus__about_video_overlay {
        height: 250px;
    }

    .wsus__testimonial_single::after {
        width: 350px;
    }

    .wsus__testimonial_single::before {
        top: -370px;
    }

    .wsus__testimonial {
        margin-bottom: 0px;
    }
    /* about end */


    /* appintment start */
    .wsus__login_area::after {
        top: -20px;
        right: -20px;
    }

    .login_form {
        padding: 20px !important;
    }

    .login_form h3 {
        font-size: 25px;
        margin-bottom: 20px;
    }

    .wsus__breadcrumb h1 {
        font-size: 25px;
    }

    .wsus__breadcrumb ul li a {
        font-weight: 600;
        margin-right: 15px;
        padding-right: 16px;
        font-size: 14px;
    }

    .wsus__breadcrumb_overlay {
        padding: 60px 0px 67px 0px;
    }
    /* appintment end */


    /* blog details start */
    .wsus__blog_det_img {
        height: 250px;
    }

    .wsus__blog_det_img .date {
        padding: 15px;
        font-size: 20px;
    }

    .wsus__blog_det_img .date span {
        font-size: 20px;
    }

    .wsus__blog_det_img .bloger {
        bottom: auto;
        left: 10px;
        top: 10px;
    }

    .wsus__blog_det_img .bloger span {
        margin-bottom: 5px;
    }

    .wsus__blog_det_text h2 {
        font-size: 25px;
    }

    .wsus__blog_comment_text {
        width: 84%;
    }

    .wsus__comment_replay .wsus__blog_comment_text {
        width: 83%;
    }

    .wsus__comment_replay {
        padding-left: 30px;
    }

    .wsus__single_comment_img {
        margin-bottom: 10px;
    }

    .wsus__blog_comment h3 {
        font-size: 20px;
    }

    .wsus__blog_comment_replay h3 {
        font-size: 20px;
    }

    .wsus__blog_comment_replay {
        margin-bottom: 50px;
    }

    .recent_blogs a {
        width: 80%;
    }
    /* blog details end */


    /* career details start */
    .wsus__career_det_text h3 {
        font-size: 20px;
    }

    .wsus__single_career h2 {
        font-size: 30px;
    }
    /* career details end */


   /* cart view start */
   .wsus__cart_item table .images {
        min-width: 100px;
    }

    .wsus__cart_item table .details {
        min-width: 250px;
    }

    .wsus__cart_item table .quentity {
        min-width: 190px;
    }

    .wsus__cart_item table .price, 
    .wsus__cart_item table .total {
        min-width: 140px;
    }

    .wsus__cart_item table .total p .common_btn {
        padding: 10px 14px;
        font-size: 13px;
    }

    .wsus__cart_item table .delete {
        min-width: 110px;
    }
    /* cart view end */

    
    /* checkout start */
    .wsus__pay_method #pills-tab li {
        width: 50%;
    }

    .wsus__pay_address {
        margin-bottom: 25px;
    }

    .wsus__pay_details p span {
        width: 35%;
    }
    /* checkout end */


    /* comming soon start */
    .wsus__coming_soon_text {
        width: 95%;
    }
    /* comming soon end */


    /* contact start */
    .wsus__contact_area {
        padding: 0;
    }

    .wsus__contact_adress {
        margin-left: 0;
    }

    .wsus__contact_adress ul {
        position: static;
    }

    .wsus__contact_message {
        padding: 30px;
    }

    .con_map {
        height: 350px;
    }
    /* contact end */


    /* donation start */
    .wsus__donation_img {
        height: 250px;
    }    

    .wsus__donation_text h2 {
        font-size: 25px;
    }

    .wsus__donation_text {
        padding: 20px;
    }

    .wsus__donate_progress .progress_bar {
        width: 100%;
        margin-bottom: 10px;
    }

    .wsus__donation_small_text h4 {
        font-size: 20px;
    }

    .wsus__donation_small_img {
        height: 300px;
    }

    .wsus__donation_area {
        margin-bottom: 20px;
    }

    .wsus__donation {
        margin-bottom: -25px;
    }
    /* donation end */


    /* event details start */
    .wsus__event_details_img {
        height: 250px;
    }

    .wsus__event_details_img .simply-countdown.simply-countdown-one {
        width: 100%;
    }

    .wsus__event_details_img .simply-section.simply-days-section, 
    .wsus__event_details_img .simply-section.simply-hours-section, 
    .wsus__event_details_img .simply-section.simply-minutes-section, 
    .wsus__event_details_img .simply-section.simply-seconds-section {
        text-align: center;
        width: 25%;
    }

    .wsus__event_details_text ul li {
        width: 100%;
    }

    .wsus__event_details_text {
        margin-bottom: 20px;
    }

    .event_sidebar iframe {
        height: 250px;
    }

    .wsus__events.mt_100.xs_mt_75 {
        margin-bottom: -5px;
    }
    /* event details end */
    

    /* faq start */
    .wsus__faq_text {
        padding: 20px;
    }

    .wsus__faq_text h3 {
        font-size: 25px;
    }

    .wsus__faq_text .call {
        font-size: 20px;
    }
    /* faq end */


    /* photo gallery start */
    .wsus__single_portfolio, .gallery_item {
        height: 225px;
    }
    /* photo gallery end */


    /* portfolio details start */
    .wsus__prtfolio_details_img {
        height: 250px;
    }

    .details_heading {
        font-size: 25px;
    }

    .portfolio_sidebar ul li a {
        width: 30px;
        height: 30px;
        line-height: 32px;
        font-size: 14px;
    }

    .wsus__prtfolio_details {
        margin-bottom: -4px;
    }
    /* portfolio details end */


    .wsus__prtfolio_page ,
    .wsus__pricing {
        margin-bottom: -5px;
    }

    .wsus__services_det_img {
        height: 200px;
    }

    .wsus__service_det_area {
        margin-bottom: 25px;
    }

    
    .wsus__wishlist {
        margin-bottom: -5px;
    }


    /* shop details start */
    .wsus__product_details_area h3 {
        font-size: 30px;
        margin-top: 30px;
    }

    .wsus__pro_share {
        margin-bottom: 5px;
    }

    .wsus__pro_description #pills-tab button {
        margin: 0px 10px 10px 0px;
    }

    .wsus__shop_img {
        height: 250px;
    }

    .wsus__shop_text a {
        font-size: 14px;
    }

    .wsus__submit_review {
        margin-top: 25px;
    }

    .wsus__submit_review {
        margin-top: 25px;
    }

    .wsus__shop_sidebar {
        margin-bottom: 25px;
    }

    .wsus__shop_sidebar {
        margin-bottom: 25px;
        display: none;
    }
    /* shop details end */


    /* team details start */
    .wsus__team_det_text_center {
        position: static;
        transform: translateY(0);
        padding-top: 20px;
    }

    .wsus__team_details_top {
        padding: 0;
    }

    .wsus__team_details_img {
        border-radius: 5px;
        overflow: hidden;
    }

    .wsus__team_details_text h4 {
        font-size: 30px;
    }

    .wsus__team_about h5 {
        font-size: 20px;
    }

    .wsus__team_about ul.percent li {
        width: 95%;
    }

    .wsus__team_details .wsus__contact_adress {
        height: 350px;
    }

    .wsus__team_details {
        margin-bottom: -5px;
    }
    /* team details end */
}


@media (max-width: 575.99px) {
    
    /* home page start */
    .main_menu .top_logo {
        width: 165px;
        padding: 7px 0px 15px 0px;
    }

    .navbar-toggler {
        border: 2px solid var(--primaryColor);
        color: var(--primaryColor);
        width: 45px;
        height: 40px;
    }

    .navbar-toggler:focus {
        box-shadow: none;
    }

    .main_menu #navbarNav {
        background: #fff;
        border-top: 1px solid var(--primaryColor);
        margin-top: 1px;
        padding: 15px 0px 35px 0px;
        border-bottom: 1px solid var(--primaryColor);
        z-index: 99;
    }

    .main_menu .nav-item .nav-link {
        margin: 0;
        line-height: 50px;
        text-align: center;
    }

    .main_menu .menu_right {
        justify-content: center;
        margin-top: 15px;
    }

    .wsus__search_form form {
        width: 95%;
    }

    .wsus__search_form form h3 {
        font-size: 30px;
    }

    .wsus__droapdown {
        max-height: 225px;
        left: 50%;
        transform: translateX(-50%);
    }

    .wsus__mini_cart .wsus__cart_text {
        width: 68%;
    }

    .wsus__mini_cart .wsus__cart_text .title {
        font-size: 14px;
    }

    .wsus__banner_text h1 {
        font-size: 30px;
        margin: 25px 0px 25px 0px;
    }

    .wsus__banner_icon ul {
        margin-top: 20px;
    }

    .wsus__banner_icon ul li a {
        margin-left: 0;
        margin-right: 10px;
    }

    .wsus__banner_img {
        height: 400px;
        margin-top: 25px;
    }

    .wsus__banner_img::after {
        top: -5px;
        left: -5px;
    }

    .wsus__banner_img::before {
        bottom: -5px;
        right: -5px;
    }

    .wsus__banner {
        padding: 70px 0px 75px 0px;
    }

    .wsus__about_img {
        height: 400px;
        margin-bottom: 5px;
    }

    .wsus__about_img::after {
        top: -5px;
        left: -5px;
    }

    .heading {
        font-size: 25px;
    }

    .wsus__about_text p {
        margin-bottom: 0;
    }

    .wsus__single_counter {
        margin-top: 35px;
    }

    .wsus__single_counter h3 {
        font-size: 40px;
    }

    .wsus__why_choose_icon {
        width: 80px;
        height: 155px;
        font-size: 35px;
        clip-path: polygon(70% 0%, 100% 50%, 70% 100%, 0% 100%, 0 37%, 0% 0%);
    }

    .wsus__why_choose_text h3 {
        font-size: 20px;
    }

    .wsus__about_text {
        padding-left: 0;
    }

    .wsus__choose_detail_text {
        margin-top: 30px;
    }

    .wsus__work_tabs .nav button {
        padding: 7px 14px;
        margin: 3px 3px;
    }

    .wsus__work_process #v-pills-tab {
        justify-content: center;
    }

    .wsus__work_img {
        height: 250px;
        padding: 10px;
    }

    .wsus__work_text {
        padding-left: 0;
        margin-top: 25px;
    }

    .wsus__success_text_area.text_right .wsus__success_icon {
        width: 100%;
    }

    .wsus__success_icon span {
        margin: 0 auto;
    }

    .wsus__success_text {
        width: 100%;
        text-align: center !important;
    }

    .wsus__success_text h4 {
        margin-top: 10px;
    }

    .wsus__success_icon {
        width: 100%;
    }

    .wsus__success_img {
        height: 350px;
        padding: 0;
        margin-bottom: 35px;
    }

    .wsus__single_blog_img {
        height: 200px;
    }

    .wsus__single_blog_text .blog_title {
        font-size: 18px;
    }

    .wsus__subs_text h2 {
        font-size: 20px;
        margin-bottom: 13px;
    }

    .subs_form button {
        padding: 8px 13px;
        font-size: 14px;
    }
    
    .subs_form input {
        padding: 10px 95px 10px 10px;
    }

    .wsu__subscribe_area {
        padding: 15px 20px 20px 20px;
        border-radius: 10px;
        top: -197px;
    }

    .wsus__footer_content {
        margin-bottom: 48px;
    }

    .wsus__footer_content h3 {
        margin-bottom: 15px;
    }
    /* home page end */
 

    /* 404 start */
    .wsus__404_text h1 {
        font-size: 100px;
    }

    .wsus__404_text {
        width: 100%;
    }
    /* 404 end */


    /* about start */
    .wsus__about_video_overlay {
        height: 250px;
    }

    .wsus__testimonial_single::after {
        left: -107px;
    }

    .wsus__testimonial {
        margin-bottom: 0px;
    }
    /* about end */


    /* appintment start */
    .wsus__login_area::after {
        top: -10px;
        right: -10px;
    }

    .wsus__appointment .wsus__login_text_overlay {
        padding: 20px;
    }

    .login_form {
        padding: 20px !important;
    }

    .login_form h3 {
        font-size: 25px;
        margin-bottom: 20px;
    }

    .wsus__breadcrumb h1 {
        font-size: 25px;
    }

    .wsus__breadcrumb ul li a {
        font-weight: 600;
        margin-right: 15px;
        padding-right: 16px;
        font-size: 14px;
    }

    .wsus__breadcrumb_overlay {
        padding: 60px 0px 67px 0px;
    }
    /* appintment end */


    /* blog details start */
    .wsus__blog_det_img {
        height: 250px;
    }

    .wsus__blog_det_img .date {
        padding: 15px;
        font-size: 20px;
    }

    .wsus__blog_det_img .date span {
        font-size: 20px;
    }

    .wsus__blog_det_img .bloger {
        bottom: auto;
        left: 10px;
        top: 10px;
    }

    .wsus__blog_det_img .bloger span {
        margin-bottom: 5px;
    }

    .wsus__blog_det_text h2 {
        font-size: 25px;
    }

    .wsus__blog_det_share ul li a {
        margin-left: 10px;
    }

    .wsus__blog_comment_text {
        width: 100%;
        padding-left: 0 !important;
    }

    .wsus__comment_replay .wsus__blog_comment_text {
        width: 100%;
    }

    .wsus__comment_replay {
        padding-left: 30px;
    }

    .wsus__single_comment_img {
        margin-bottom: 10px;
    }

    .wsus__blog_comment h3 {
        font-size: 20px;
    }

    .wsus__blog_comment_replay h3 {
        font-size: 20px;
    }

    .wsus__blog_comment_replay {
        margin-bottom: 50px;
    }

    .recent_blogs a {
        width: 65%;
    }
    /* blog details end */


    /* career details start */
    .wsus__career_det_text h3 {
        font-size: 20px;
    }

    .wsus__single_career h2 {
        font-size: 20px;
    }

    .wsus__single_career h5 {
        font-size: 13px;
    }
    /* career details end */


    /* cart view start */
    .wsus__cart_item table .images {
        min-width: 100px;
    }

    .wsus__cart_item table .details {
        min-width: 250px;
    }

    .wsus__cart_item table .quentity {
        min-width: 190px;
    }

    .wsus__cart_item table .price, 
    .wsus__cart_item table .total {
        min-width: 140px;
    }

    .wsus__cart_item table .total p .common_btn {
        padding: 10px 14px;
        font-size: 13px;
    }

    .wsus__cart_item table .delete {
        min-width: 110px;
    }
    /* cart view end */


    /* checkout start */
    .wsus__pay_method #pills-tab li {
        width: 50%;
    }

    .wsus__pay_method #pills-tab li button {
        font-size: 13px;
    }

    .wsus__checkout h4 {
        font-size: 20px;
    }

    .wsus__pay_address {
        margin-bottom: 25px;
    }

    .wsus__pay_details p span {
        display: block;
        width: 100%;
        margin-bottom: 3px;
    }
    /* checkout end */


    /* comming soon start */
    .wsus__coming_soon_text {
        width: 95%;
    }

    .wsus__coming_soon_text h1 {
        font-size: 35px;
    }

    .wsus__coming_soon_text p {
        width: 100%;
    }

    .wsus__coming_soon_text .simply-amount {
        font-size: 25px;
    }

    .wsus__coming_soon_text .simply-word {
        margin-left: 0;
        font-size: 12px;
    }
    /* comming soon end */


    /* contact start */
    .wsus__contact_area {
        padding: 0;
    }

    .wsus__contact_adress {
        margin-left: 0;
    }

    .wsus__contact_adress ul {
        position: static;
    }

    .wsus__contact_message {
        padding: 30px 15px 15px 15px;
    }

    .con_map {
        height: 350px;
    }
    /* contact end */


    /* donation start */
    .wsus__donation_img {
        height: 250px;
    }    

    .wsus__donation_text h2 {
        font-size: 25px;
    }

    .wsus__donation_text {
        padding: 20px;
    }

    .wsus__donate_progress .progress_bar {
        width: 100%;
        margin-bottom: 10px;
    }

    .wsus__donation_small_text h4 {
        font-size: 20px;
    }

    .wsus__donation_small_img {
        height: 300px;
    }

    .wsus__donation_area {
        margin-bottom: 20px;
    }

    .wsus__donation {
        margin-bottom: -25px;
    }
    /* donation end */


    /* event details start */
    .wsus__event_details_img {
        height: 250px;
    }

    .wsus__event_details_img .simply-countdown.simply-countdown-one {
        width: 100%;
    }

    .wsus__event_details_img .simply-section.simply-days-section, 
    .wsus__event_details_img .simply-section.simply-hours-section, 
    .wsus__event_details_img .simply-section.simply-minutes-section, 
    .wsus__event_details_img .simply-section.simply-seconds-section {
        text-align: center;
        width: 25%;
    }

    .wsus__event_details_text ul li {
        width: 100%;
    }

    .wsus__event_details_text {
        margin-bottom: 20px;
    }

    .event_sidebar iframe {
        height: 250px;
    }

    .wsus__event_details_text h2 {
        font-size: 20px;
    }

    .wsus__event_text a {
        font-size: 18px;
    }

    .wsus__single_events_img {
        height: 250px;
    }

    .wsus__events.mt_100.xs_mt_75 {
        margin-bottom: -5px;
    }
    /* event details end */


    /* faq start */
    .accordion-button {
        font-size: 14px;
    }

    .wsus__faq_text {
        padding: 20px;
    }

    .wsus__faq_text h3 {
        font-size: 25px;
    }

    .wsus__faq_text .call {
        font-size: 20px;
    }
    /* faq end */


    /* contact start */
    .wsus__login_text {
        padding: 20px;
    }

    .wsus__forget a {
        margin-top: 10px;
        width: 100%;
    }

    .login_form h5 {
        margin-bottom: 10px;
        width: 100%;
    }

    .login_form ul li a {
        margin-left: 0;
        margin-right: 15px;
    }
    /* contact end */


    /* gallery srart */
    .gallery_filter button {
        margin: 1px 3px;
    }

    .wsus__photo_gallery {
        margin-bottom: -5px;
    }
    /* gallery end */


    /* portfolio details start */
    .wsus__prtfolio_details_img {
        height: 250px;
    }

    .details_heading {
        font-size: 25px;
    }

    .portfolio_sidebar ul li a {
        width: 30px;
        height: 30px;
        line-height: 32px;
        font-size: 14px;
    }

    .wsus__prtfolio_details {
        margin-bottom: -4px;
    }

    .wsus__prtfolio_page {
        margin-bottom: -5px;
    }
    /* portfolio details end */


    .wsus__services_det_img {
        height: 200px;
    }

    .wsus__service_det_area {
        margin-bottom: 25px;
    }

    .wsus__wishlist {
        margin-bottom: -5px;
    }


    /* shop details start */
    .wsus__product_details_area h3 {
        font-size: 25px;
        margin-top: 30px;
    }

    .wsus__pro_share span {
        width: 100%;
        margin-bottom: 10px;
    }

    .wsus__pro_share ul li a {
        margin: 0px 10px 0px 0px;
    }

    .wsus__pro_share {
        margin-bottom: 5px;
    }

    .wsus__pro_description #pills-tab button {
        margin: 0px 10px 10px 0px;
    }

    .wsus__submit_review {
        margin-top: 25px;
    }

    .wsus__shop_sidebar {
        margin-bottom: 25px;
        display: none;
    }
    /* shop details end */




    /* team details start */
    .wsus__team_det_text_center {
        position: static;
        transform: translateY(0);
        padding-top: 20px;
    }

    .wsus__team_details_top {
        padding: 0;
    }

    .wsus__team_details_img {
        border-radius: 5px;
        overflow: hidden;
    }

    .wsus__team_details_text h4 {
        font-size: 25px;
    }

    .wsus__team_about h5 {
        font-size: 20px;
    }

    .wsus__team_about ul.percent li {
        width: 95%;
    }

    .wsus__team_details .wsus__contact_adress {
        height: 350px;
    }

    .wsus__team_details {
        margin-bottom: -5px;
    }

    .wsus__single_team_img {
        height: 250px;
    }
    /* team details end */
}
